<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YouTube Analytics | Інформація про канал</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../images/youtube_logo.png" type="image/png">

    <script src="https://apis.google.com/js/api.js"defer></script>
    <script src="../js/index.js" defer></script>
    <script src="../js/data.js" defer></script>
    <script src="../js/theme.js" defer></script>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__body">
          <a href="../index.html" class="logo"><span><img width="30" src="../images/youtube_logo.png" alt="YouTube"></span><span>YouTube</span></a>
          <nav class="menu">
            <ul class="menu__list">
              <li class="menu__item">
                <a href="../select-item.html" class="menu__link" title="YouTube Аналітика"><button id="analytics"></button></a>
              </li>
              <li class="menu__item">
                <a href="#" class="menu__link"title="YouTube Налаштування"><button id="settings"></button></a>
              </li>
            </ul>
            <label class="switch">
              <input type="checkbox" />
              <span class="slider round"></span>
            </label>
          </nav>
        </div>
      </div>
    </header>

    <div class="wrapper">
      <main>
        <section class="search section-page">
          <div class="container">
            <div class="yt-analytics__title">
              <h2 class="yt-analytics__text">Відобразити глобальну інформацію про канал</h2>
            </div>
            <div class="search__body">
               <input class='search__input' type="search" placeholder="ID канала">
               <button class="search__btn btn">Отримати інформацію</button>
            </div>
          </div>
        </section>
        <section class="result section-page">
          <div class="container">
            <div class="result__out">

            </div>
          </div>
        </section>
      </main>

      <footer class="footer">
        <div class="container">
          <p>
            Web Developers Maksymuck Denys, Hlivchuk Taras and Silchuk Yuliiya
          </p>
          <p>&copy; Copyright 2021. All Rights Reserved.</p>
        </div>
      </footer>
    </div>
  </body>
</html>
